body {
    font: 1.2em sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  img {
    width: 300px;
    height: 200px;
  }
  
  .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

  }
  .defn{
    width: 950px;
    height: 200px;
    border: 3px solid rgb(142, 127, 127);

  }
  p{
    font-family: 'Dancing Script', cursive;
    font-display: block;
    font-size: x-large;
    padding:0.5rem;
  }
  /* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #562a38d2;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 12px 145px;
    font-style:oblique;
    
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(37, 90, 99);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .det{
    font-family: "Helvetica";
    border-bottom: 2px solid #333;
  }
  .TM{
    font-size: small;
    font-family: "Helvetica";
    text-align: center;
}
.book-title {
    border-bottom: 3px solid transparent; /* Hidden by default */
    transition: 0.3s; /* Smooths the color change */
    text-align: center;
    background-color: rgb(204, 222, 175);
}

.book-title:hover {
    border-bottom: 3px solid #3498db; /* Blue appears on hover */
}
.SM{
    text-align: center;
}